// Цвета
$primary-color: #598358;
$secondary-color: #314861;
$text-color: #ffffff;
$background-color: #f8f9fa;

// Размеры
$border-radius: 8px;
$padding-small: 8px;
$padding-medium: 20px;
$padding-large: 25px;